.question {
    background-color: rgb(238, 201, 233);
    box-shadow: 0 2px 10px rgba($color: #9be1eb, $alpha: 3.0);
    width: 30rem;
    max-width: 100%;
    overflow: hidden;
    display: none;
    
    
}

.question_Heading {    
    background-color: #f7f7f7;
    padding-block: 1rem;
    margin: 1rem;
    text-align: center;
    border: 2px solid rgb(211, 108, 171);
    font-size: 25px;
    box-shadow: 0 2px 10px rgba($color: #d66262, $alpha: 3.0);
    color: rgb(9, 9, 80);    
}

.question_Box {
    padding: 3rem, 4rem; 
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative; 
}

.question_form {
    display: flex;
    flex-direction: column;   
}


.label_form {
    display: inline-block;
    margin: 0 1rem;
    text-decoration: underline;    
    font-size: 18px;
}

.question_Inp1, .question_Inp2, .question_Inp3 {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid rgb(211, 108, 171);
    font-size: 18px;
    box-shadow: 0 2px 10px rgba($color: #d66262, $alpha: 3.0);
}   

#num {
    font-size: 20px;
    text-align: end;
    margin: -0.7rem 5rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(9, 9, 80);

    
}

fieldset {
    margin: 2rem 1rem;
    font-size: 1.2rem;
    border: cornsilk solid;
    box-shadow : 0 2px 10px rgba($color: #e2b7b7, $alpha: 3.0);
    
}

.selectForm{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(9, 9, 80);
    font-style: italic;
    box-shadow: 0 2px 10px rgba($color: #d66262, $alpha: 3.0);
}

.labRadio{
    margin: 0 8rem;
}

.radioImp1, .radioImp2, .radioImp3 {
    margin: 0.2rem 7rem;
}
.question_btn {
    display: block;
    margin: 2rem 8rem 0 ;
    padding: 0.5rem;
    background-color: cornsilk;
    font-size: 18px;
    border: 3px solid rgb(179, 121, 194);
    border-radius: 5%;
    box-shadow: 0 2px 10px rgba($color: #d66262, $alpha: 3.0);     
   
}
